#content {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 100pt;
    font-weight: bold;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    color: #ffffff;
    /* background: rgb(0, 255, 242); */
    background-size: 100% 100%;
    /* font-family: "Kablammo", system-ui; */
    background-image: url('https://media1.tenor.com/m/f9Ek6QJFnrkAAAAd/parse-black.gif');
    text-wrap: nowrap;
}




#aunty {
    background-size: 100% 100%;
    background-image: url('Screenshot 2024-10-25 190456.jpg');
    width:500px;
    height:100px;
    position: absolute;
    transition-duration: 500ms;
    /* transition: opacity 0.5s ease-in-out */
}

#lingus {
    background-size: 100% 100%;
    background-image: url('https://preview.redd.it/29aj4lts9pe41.jpg?auto=webp&s=55372296be0002e76443d7c1810c46e39cce0e4e');
    width:100%;
    height:100%;
    opacity: 0;
    z-index: 100;
    position: absolute;
}

#youwasattheclubb {
    background-size: 100% 100%;
    background-image: url('https://i.redd.it/o9rqoxp4o7k21.jpg');
    width:100%;
    height:100%;
    opacity: 0;
    position: absolute;
}

#india {
    background-size: 100% 100%;
    background-image: url('29604647085_468ff693f8_b.jpg');
    position: absolute;
    width:100%;
    height:100%;
    opacity: 0;
    z-index: 100;
}


.slider {
    z-index: 1000;
}

@media only screen and (max-width: 600px) { 
    #content {
        font-size: 30pt;
    }
}


span {
    display:inline-block;
} 

html {
    height: 100%;
}

body {
    height: 100%;
}

#cole {
    transition-duration: 2000ms;
    position: absolute;
    display: flex;
}

.topLeft {
    transform: translate(500px,500px) rotate(1turn);
}

.bottomRight{
    transform: translate(-500px, -500px) rotate(1turn);
}

.rotated {
    transform: rotate(1turn);
}

.animation {
    transition-duration: 2000ms;
}

.unrotated {
        transform: rotate(1turn);
}